<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="register-pet">
      <ion-icon name="chatboxes"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="list-pet">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="contact"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
