<app-menu-toolbar></app-menu-toolbar>
<ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
<ion-content>
    <h2 class="text-center" *ngIf="!isLoading">Meus Pets</h2>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>

        </ion-refresher-content>
    </ion-refresher>

    <div class="mt-1 resize">
        <ion-card class="list-card" *ngFor="let pet of listPets">
            <ion-header>
                <ion-icon (click)="presentActionSheet(pet)" name="arrow-dropdown"></ion-icon>
            </ion-header>
            <ion-card-content (click)="navigateToPet(pet)">
                <ion-grid fixed>
                    <ion-row>
                        <ion-col size="8" style="display: inline-grid">
                            <span>{{ pet.name }}</span>
                            <span>{{ pet.breed }}</span>
                            <span>{{ pet.birthDay | date }}</span>
                        </ion-col>
                        <ion-col size="4">
                            <ion-avatar>
                                <img
                                    src="http://oportunidadesenegocios.com.br/adm/imagens/imovel/imovel_imagem/1344.jpg" />
                            </ion-avatar>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>

    </div>

</ion-content>