.list-card{
   max-width: 80%;
   margin-top: 15px !important;
   margin: auto;
   color: #520202;
}

.resize{
   max-height: 90% !important;
   overflow-x: auto;
}

ion-header{
   background-color: azure !important;
   text-align: end !important;
   font-size: 20px !important;
   padding: 0px 10px !important;
   margin-top: 5px !important;
}

ion-card-content{
   background-color: azure !important;
}
