.content-header{
   padding: 30px;
}

.avatar {
   border-radius: 20% !important;
}

.content{
   padding: 25px 0px;
   text-align: center;
   background-color: aliceblue;
   border-radius: 7%;
   margin-top: 10%;
}

ion-col{
   display: inline-grid;
   margin-bottom: 5% !important;
}

span:first-child{
   font-weight: bold;
}