<app-menu-toolbar></app-menu-toolbar>
<ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
<ion-content>
  <ion-grid fixed class="content-header">
    <ion-row style="display: table;">
      <ion-img class="avatar" src="http://oportunidadesenegocios.com.br/adm/imagens/imovel/imovel_imagem/1344.jpg">
      </ion-img>
    </ion-row>

    <div class="content">
      <ion-row>
        <ion-col size="6">
          <span>Nome do Pet:</span>
          <span>{{pet.name}}</span>
        </ion-col>
        <ion-col size="6">
          <span>Nascimento:</span>
          <span>{{pet.birthDay | date}}</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <span>Espécie:</span>
          <span>{{pet.species}}</span>
        </ion-col>
        <ion-col size="6">
          <span>Raça:</span>
          <span>{{pet.breed}}</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <span>Porte:</span>
          <span>{{pet.physicalSape}}</span>
        </ion-col>
        <ion-col size="6">
          <span>Sexo:</span>
          <span>{{pet.genre}}</span>
        </ion-col>
      </ion-row>

    </div>


  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="create" (click)="editPet()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="trash" (click)="deletePet()"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>