<ion-content>

    <div>
        <h2 class="text-center title mt-30">The Vet</h2>
        <div class="center mt-25">
            <ion-item>
                <ion-input placeholder="email@email.com" [(ngModel)]="user"></ion-input>
            </ion-item>

            <ion-item>
                <ion-input placeholder="*******" type="password" [(ngModel)]="pass"></ion-input>
            </ion-item>

            <ion-button expand="block" color="danger" class="mt-15" (click)="login()">Login</ion-button>
        </div>
    </div>

</ion-content>

<ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col>Não possuo cadastro</ion-col>
            <ion-col>Esqueci minha senha</ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>