ion-grid {
  font-size: 12px;
  text-align: center;
}

.title{
    color: #000F60;
    font-size: 48px;
}

.center {
  margin: auto;
  width: 90%;
  padding: 10px;
  .sc-ion-input-ios-h {
    --padding-end: 0px !important;
    --padding-bottom: 0px !important;
  }
}
