// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

ion-toolbar {
  --background: #ededed;
  --color: #000f60;
}

.text-center {
  text-align: center;
}

.mt-10{
  margin-top: 10% !important;
}

.mt-15 {
  margin-top: 15% !important;
}

.mt-25 {
  margin-top: 25% !important;
}

.mt-30 {
  margin-top: 30% !important;
}
