<ion-content>

  <h2 class="text-center title mt-30">Cadastrar Pet</h2>
  <ion-grid class="center text-center main-grid">
    <!-- Row campos de cadastro -->
    <ion-row>
      <!-- Colunas para centralizar os campos -->
      <ion-col size="10" class="redClass center text-center">
        <!-- Row para Nome do Pet e Data de nascimento -->
        <form (ngSubmit)="submitAction()">
          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">Nome do Pet</ion-label>
                <ion-input [(ngModel)]="pet.name" name="name"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="6" align-self-start>
              <ion-item>
                <ion-label position="floating">Data Nascimento</ion-label>
                <ion-datetime displayFormat="MM/DD/YY" [(ngModel)]="pet.birthDay" name="birthDay"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>

          <!-- Row Espécie e Raça -->
          <ion-row>
            <ion-col>
              <ion-item size="6">
                <ion-label position="floating">Espécie</ion-label>
                <ion-input [(ngModel)]="pet.species" name="species"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item>
                <ion-label position="floating">Raça</ion-label>
                <ion-input [(ngModel)]="pet.breed" name="breed"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <!-- Row Porte e Sexo -->
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Porte</ion-label>
                <ion-input [(ngModel)]="pet.physicalSape" name="physicalSape"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col align-self-start>
              <ion-item>
                <ion-label position="stacked">Sexo</ion-label>
                <ion-select placeholder="Selecione o Sexo" [(ngModel)]="pet.gender" name="gender">
                  <ion-select-option value="0">Fêmea</ion-select-option>
                  <ion-select-option value="1">Macho</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>

          <!-- Row check-box multi-usuários -->
          <ion-row>
            <ion-col align-self-start>
              <ion-item>
                <ion-label> Adicionar dono compartilhado</ion-label>
                <ion-checkbox [(ngModel)]="isSharedOwner" name="isSharedOwner" color="primary" slot="start">
                </ion-checkbox>
              </ion-item>

            </ion-col>
          </ion-row>

          <div *ngIf="isSharedOwner">
            <ion-row>
              <ion-col size="9">
                <ion-item>
                  <ion-label position="floating">Nome do Usuário:</ion-label>
                  <ion-input [(ngModel)]="tempUsername" name="tempUsername"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="3">
                <ion-button block (click)="addUser()">Confirmar</ion-button>
              </ion-col>
            </ion-row>

            <ion-row class="addUsers">
              <ion-list *ngFor="let OwnerViewModel of pet.petUser">
                <ion-item>
                  <ion-label>{{OwnerViewModel.name}}</ion-label>
                  <ion-button slot="end" color="danger" (click)="deleteOwner(OwnerViewModel)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                  </ion-button>
                </ion-item>
              </ion-list>
            </ion-row>
          </div>

          <ion-row>
            <ion-col size="6" class="center text-center">
              <ion-button type="submit" block>{{btn}}</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>