.center
{
    margin: auto;

}


.petForm > ion-row {
    margin-bottom: 40px;
}
.main-grid{
    background: whitesmoke;
}


.addUsers > ion-list > ion-item{
    background: gray;
    margin: 5px;

}

.addUsers{
    background: whitesmoke;
}